@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;300;400;500;600&family=Source+Sans+Pro:wght@200;300;400;600&family=Tiro+Gurmukhi:ital@1&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
    --fs20: 20px;
    --fs24: 24px;
    --max-content-width: 1366px;
    --headerHeight: 83px;

    @media (max-width: 800px) {
        --fs20: 16px;
        --fs24: 18px;
        --headerHeight: 69px;
    }
}

