$green1: #2C3531;
$green2: #116466;
$green3: #2B7A78;
$green4: #376E6F;
$green5: #3AAFA9;
$green6: #1C3334;
$green7: #112D32;
$green8: #17252A;
$green9: #254E58; // rgba(#F2F2F0, 0.5);
$green10: #88BDBC;
$green11: #2C3531;

$gray1: #2F4454;

$ohra1: #D9B08C;
$ohra2: #FFCB9A;
$yllow1: #fff5db;
$yllow2: #fff5db;

$closeToWhite: #D1E8E2;
$closeToWhite2: #DEF2F1;
$closeToWhite3: #FEFFFF;
$closeToWhite3: rgba(#F2F2F0, 0.5);;

$bardo: #2E151B;
$pink: #DA7B93;

$br1: #4A4A4A;
$br2: #4F4A41;
$br3: #6E6658;
$br4: rgba(233, 233, 233, 0.3);

$themeBg: #88BDBC;
$themeNavMenuBg: #4A4A4A;
$themeHeaderBg: #254E58;
$themeNavMenuLink: #fff5db;
$themeTextPrimary: #4F4A41;
$themeTextInverse: #6E6658;
$themeMobileMenuBg: #17252A;


$themeHeaderBg: #17252A;
//$themeHeaderBg: rgb(176, 181, 187);
$themeNavMenuLink: #DEF2F1;


$s: 800px;

$menuBreakPoint: 1000px;
