@import '/styles/utils';

.imgBg {
  max-width: 100vw;
  display: flex;
  justify-content: center;
  margin-top: var(--headerHeight);
  overflow-x: hidden;
  background-image: url("https://static.wixstatic.com/media/fc4db3_b4f9e0b2d28e465686793fb742eea9ce~mv2.png/v1/fill/w_1280,h_785,al_c,q_90,enc_auto/fc4db3_b4f9e0b2d28e465686793fb742eea9ce~mv2.png");
  height: 785px;
  background-repeat: no-repeat;
  background-position: 50%;
}

.aboutUs {
  background-color: rgba($themeHeaderBg, 0.7);
  padding: 24px;
  color: $themeNavMenuLink;
  max-width: 500px;
  height: 250px;
  margin-top: 70px;
  margin-left: auto;
  margin-right: 200px;

  &__title {
    font-size: 24px;
    border-bottom: 1px solid #7e0303;
    font-weight: 300;
  }

  &__desc {
    font-weight: 200;
  }

  @media (max-width: $s) {
    margin: 40px 20px;
    width: 100%;
    padding: 16px;
    height: 300px;
  }
}
