@import '/styles/utils';

.menu {
  display: flex;
  justify-content: space-between;
  font-weight: 200;
  width: 1300px; //100%
  font-size: var(--fs20);
  align-items: center;
  max-width: 90%;

  & > div {
    display: flex;
  }

  @media (max-width: $menuBreakPoint) {
    display: none;
  }
}

.mobileMenu{
  display: flex;
  position: absolute;
  right: 16px;
  top: 16px;
  width: 250px;
  background: rgba($themeMobileMenuBg, 0.8);
  text-align: center;
  flex-direction: column;
  padding: 0 0 16px;
  max-width: 100%;
  align-items: center;
  font-size: 20px;
  font-weight: 200;
  transition: all .5s ease;

  & > a:first-child {
    margin: 0 50px;
  }


  @media (min-width: $menuBreakPoint) {
    display: none;
  }
}

.menuItem {
  padding: 12px 12px 8px;
  margin: 0 4px;
  color: $themeNavMenuLink;
  border-bottom: 1px solid transparent;

  &:hover {
    color: $themeNavMenuLink;
    border-bottom: 1px solid $themeNavMenuLink;
  }

  @media (min-width: $menuBreakPoint) {
    line-height: 40px;
  }
}

.logo {
  & > * {
    stroke: $themeNavMenuLink;
    fill: black;
    fill-opacity: 0;
    // stroke-opacity="0.8"/
  }

  margin: 14px 0 24px;
}

.openBtn {
  font-size: 24px;
  position: absolute;
  right: 28px;
  top: 24px;

  @media (min-width: $menuBreakPoint) {
    visibility: hidden;;
  }

  * {
    fill: $themeNavMenuLink;
  }
}

.closeBtn {
  font-size: 24px;
  position: absolute;
  right: 12px;
  top: 8px;

  * {
    fill: $themeNavMenuLink;
  }
}
