@import '/styles/utils';

.header {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: $themeHeaderBg;
//  position: relative;
  position: fixed;
  top: 0;
  height: var(--headerHeight);

  @media (max-width: $menuBreakPoint) {
    padding: 16px 0 16px 24px;
    justify-content: flex-start;
  }

  .logo {
    * {
      stroke: $themeNavMenuLink;
      fill: black;
      fill-opacity: 0;
    }
  }

  @media (min-width: $menuBreakPoint) {
    .logo {
      display: none;
    }
  }

  @media (max-width: $menuBreakPoint) {
    .header {
      padding: 16px 0;
    }

    .logo {
      display: block;
    }
  }
}
